<div class="container">
    <h2>
        <span>Your Pages</span>
        <button class="btn btn-primary float-right" [routerLink]="['/edit']">
            <span class="fa fa-plus"></span>
            <span>
            Create new Page
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="" *ngIf="pages">
        <ul class="list-unstyled">
            <li class="page-item" *ngFor="let page of pages ;trackBy: trackId">
                <page-list-item [page]="page"></page-list-item>
            </li>
        </ul>
    </div>
</div>
