@import "../../content/scss/variables";

// Make it single page
:host {
    display: flex;
    height: 75vh;
}

#preview-panel {
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

#markdown-area {
    font-family: $font-family-monospace;
    color: $gray;
}
